.card{
  height: 100%;
}
a{
  text-decoration: none;
  color: black;
}
ul{
  list-style: none;
  padding: 0;
  display: flex;
}
li{
  margin-right: 30px;
  font-size: 25px;
  font-weight: 400;
}
a:hover{
  font-weight: 700;
}
a.active{
  font-weight: 700;
}
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

  .immagine-prodotto{
    width: 250px;
  }
  .card-img-prodotto{
    display: flex;
    justify-content: center;
  }